#projects {
    color: white;
    margin-top: 10%;

}

#projects h1 {
    text-align: center;
}

#projects_card {
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    align-items: center;
    justify-items: center;
    margin-top: 30px;
}

.project_image {
    padding-top: 10px;
    
}

.project_title {
    padding: 20px;
}

.project_button {
    display: flex;
    justify-content: space-around;
}